html
	head
		title Store Home Page
	body
		//header file that holds page links is displayed on top of page
		include ../views/header

		div#main
			h1 Welcome to the Store Home Page!
			br
			h4 We have it all!
			br

	
